<div id="preview">
  <h1>
    Payslip Information
  </h1>
  <div>
    <p>
      <label>Name:</label>
      <input disabled type="text" [(ngModel)]="payslipData.name">
    </p>
    <p>
      <label>Pay Period:</label>
      <input disabled type="text" [(ngModel)]="payslipData.payPeriod">
    </p>
    <p>
      <label>Gross Income:</label>
      <input disabled type="number" [(ngModel)]="payslipData.grossIncome">
    </p>
    <p>
      <label>Income Tax:</label>
      <input disabled type="number" [(ngModel)]="payslipData.incomeTax">
    </p>
    <p>
      <label>Net Income:</label>
      <input disabled type="text" [(ngModel)]="payslipData.netIncome">
    </p>
    <p>
      <label>Super Amount:</label>
      <input disabled type="text" [(ngModel)]="payslipData.superAmount">
    </p>
  </div>
</div>
